.app-container {
    display: grid;
    grid-template-rows: 20% 80%;
    margin-block: 10px;
    gap: 10px;
    align-items: center;
    justify-content: stretch;
    text-align: center;
    min-height: 80vh;

    @include for-normal-layout {
        display: grid;
        grid-template-rows: unset;
        grid-template-columns: 35% 65%;
    }
}

.app-header {
    grid-row: 1;
    font-weight: bold;
    font-size: $fs25;
    text-decoration: underline;
    text-transform: capitalize;
    font-family: livvic-medium-italic;
    text-shadow: 5px 2px 5px $clr1;
    margin-block-end: 15px;
    @include for-normal-layout {
        grid-column: 1/3;
        font-size: $fs48;
    }


    .list-container {
        grid-row: 2/3;
    }
    
    .slide-show{
        grid-row: 2/3;
    }
}
