// Colors
$clr0: #eae0d5;
$clr1: #c6ac8f;
$clr2: #5e503f;
$clr3: #22333b;
$clr4: #0a0908;


// Font Sizes
$fs64: rem(64px);
$fs48: rem(48px);
$fs25: rem(25px);
$fs18: rem(18px);
$fs15: rem(15px);
$fs12: rem(12px);

// Breakpoints
$mobile-breakpoint: 470px;
$narrow-breakpoint: 470px;
$normal-breakpoint: 768px;
$wide-breakpoint: 1080px;
